<div class="account-container">
    <h1>
        <%= title %>
    </h1>

    <% if (messages.notice) { %>
        <div class="notice">
            <%= messages.notice %>
        </div>
        <% } %>

            <% if (accountData) { %>

                <p>Welcome <strong>
                        <%= accountData.account_firstname %>
                    </strong>!</p>

                <ul>
                    <li>
                        <a href="/account/update/<%= accountData.account_id %>">
                            Update Account Info
                        </a>
                    </li>

                    <li><a href="/account/logout">Logout</a></li>
                </ul>

                <% if (accountData.account_type==="Employee" || accountData.account_type==="Admin" ) { %>
                    <h3>Inventory Management</h3>
                    <a href="/inv/">Manage Inventory</a>
                    <% } %>

                        <% } else { %>

                            <p>Please <a href="/account/login">log in</a>.</p>

                            <% } %>

</div>