<h1>Darwin Matos</h1>

<ul>
    <% if (vehicles) { %>
        <% vehicles.forEach(vehicle=> { %>
            <li>
                <%= vehicle.name %>
            </li>
            <% }) %>
                <% } %>
</ul>