<%- include("../layouts/partials/header") %>

    <h1>
        <%= title %>
    </h1>

    <section class="error-message">
        <p><%- message %></p>

        <p class="funny">
            Well… this is awkward 😅
            Something went wrong. Even our best developers are pretending it didn’t happen.
        </p>

        <p>
            Try going back or head to the homepage.
        </p>
    </section>

    <%- include("../layouts/partials/footer") %>

    <p>
        <a href="/">Go back to Home</a>
    </p>